body{
    /* Asignando una familia de fuentes para nuestro texto*/
    font-family: 'Pathway Gothic One', sans-serif;
    color: rgb(51, 51, 51);
    font-size: 1.2rem; 
    line-height: 1.3em;
    margin: 0;
}

h1{
    font-size: 2rem;/* Cuando especificamos valor relativo en relacion a la raiz r- root*/
    line-height: 1.3em; /* cuano especificamos valor relativo de acuerdo al tamaño x default*/
    text-align:center

}


p{
   margin-bottom: 1.6rem;
   text-align: justify;
   
}
.container{
    width: 85%; /* Con este valor indicamos que se extienda hasta el 85%  del navegador */
    max-width: 850px; /* con un anchp maximo de 850 pixeles*/
    margin: 0 auto; /* Agregamos un margen de 0 arriba y abajo y automatico a los lados*/
}

.header{
    background: #1cc5dc;
    color: white;
    padding: 2rem ;/* agragando relleno en proporcion de 2 (arriba y abajo) y de 0a los lados*/
    
    position:  fixed;/* composicion fija del logo de mi encabezado del menu*/
    left: 0;
    top: 0; /* con estos tres, indicamos que el encabezado  sea de derecha a izquierda empezando de 0 pixeles o que abarque todo el ancho de la pagina: left, top, right*/
    right: 0;
                     
    
}
    .header a{
        color: rgb(5, 5, 5);
        text-decoration: none; /* quitamos el subrayao que marca un enlace*/
    }

.logo-nav-container{
    display: flex;
    justify-content:  space-between;
    align-items: center;/* centrando los elementos del contenedor*/
    flex-wrap: wrap;/*no los permita poner en la `parte de abajo de un exto o LOGO*/
   

}

.logo{
    letter-spacing: 15px; /*hacer un espacio entre las letras*/
    font-size: 1.4em; /* cambiar el tamaño de la letra*/



}
.navigation{
width: 100%;
margin-top: 1rem;/*no estar serca del logo, ESPACIO*/
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5 rem 0;
    transition:  all 0.4s linear;
    border-radius: 5px;

}
 
.navigation ul li a:hover{
    background:  #ffffc7; /*para el cursor cambie o se vea seleccionado*/
}

.main{
    padding-top: 12rem;/*No permite observar el texto que esta debajo de mi encabezado */
}

.footer {                   
    background: #1cc5dc;/*Cambiar el encabezado recuadro*/
    padding: 4rem 0; /*Reelleno cambiar */
    text-align:center;/* el texto lo quiero centrado */
    margin-top: 6rem; /*realizar un espacio del margen al ultimo texto o parrafo*/
}

@media screen and (max-width:767px){ /*el tamaño de la pantalla por medio del query, y el comportamiento hasta que encunetre el 780 pixeles */
    .navigation ul li {
        display: block;
    }
    
    .navigation ul li a {
        display: block;
        padding: 0.5 rem 1rem;
        transition:  all 0.4s linear;
        border-radius: 5px;
    
    }
     
    .navigation ul li a:hover{
        background:  #ffffc7; /*para el cursor cambie o se vea seleccionado*/
    }

}

.footer-container{
display: inline-block;
justify-content: space-between;

}
.redes-sociales .bubble i{
    color: #ccc;
    padding: 12px 0;
}
.redes-sociales .bubble:hover i{
    color: #1f2b40;
}